<li class="single-quote panel panel-default">
  <div class="panel-heading clearfix">
    <h2 class="panel-title pull-left">{{ data.film }} - {{ data.actor }}</h2>
    <span class="quote-details panel-title pull-right">Quote {{ $index + 1 }}/{{ count }}</span>
  </div>
  <div class="panel-body">
    <blockquote cite="{{ data.character }}, {{ data.film }}, {{ data.year }}">
      {{ data.content }}
      <footer>
        <cite>{{ data.character }}, {{ data.film }}, {{ data.year }}</cite>
      </footer>
    </blockquote>
    <a href="/#/quotes/{{ data.id }}"> Permalink </a>
  </div>
</li>
